{
  "openapi": "3.0.1",
  "info": {
    "title": "AstraReg-Go",
    "description": "星程课表 SaaS 注册站后端 API。提供子域名可用性检查、JWT 签发和 DNS 记录创建。",
    "version": "1.1.0"
  },
  "tags": [
    { "name": "check", "description": "子域名可用性检查" },
    { "name": "token", "description": "JWT 签发" },
    { "name": "dns", "description": "DNS 记录创建" }
  ],
  "paths": {
    "/api/check-subdomain/{subdomain}": {
      "get": {
        "summary": "检查子域名可用性",
        "operationId": "checkSubdomain",
        "tags": ["check"],
        "parameters": [
          {
            "name": "subdomain",
            "in": "path",
            "required": true,
            "schema": { "type": "string", "pattern": "^[a-z0-9]([a-z0-9-]*[a-z0-9])?$" },
            "description": "子域名，仅小写字母、数字和连字符"
          }
        ],
        "responses": {
          "200": {
            "description": "检查结果",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "required": ["available", "message"],
                  "properties": {
                    "available": { "type": "boolean" },
                    "message": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/sign-token": {
      "post": {
        "summary": "签发注册 JWT",
        "description": "第一步：Turnstile 验证 + InternalSecret 验证 → 签发 JWT（含完整注册信息）。Dev 模式跳过 Turnstile。",
        "operationId": "signToken",
        "tags": ["token"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["subdomain", "username", "password", "school", "grade", "class", "internal_secret"],
                "properties": {
                  "subdomain": { "type": "string", "description": "子域名" },
                  "username": { "type": "string", "description": "管理员用户名" },
                  "password": { "type": "string", "description": "管理员密码" },
                  "school": { "type": "string", "description": "学校名称" },
                  "grade": { "type": "string", "description": "年级名称" },
                  "class": { "type": "string", "description": "班级名称" },
                  "turnstile_token": { "type": "string", "description": "Cloudflare Turnstile token（Dev 模式可为空）" },
                  "internal_secret": { "type": "string", "description": "内部认证密钥" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "JWT 签发成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "token": { "type": "string", "description": "注册 JWT（有效期 10 分钟）" },
                    "status": { "type": "string", "example": "success" }
                  }
                }
              }
            }
          },
          "400": { "description": "参数错误或 Turnstile 验证失败" },
          "401": { "description": "InternalSecret 不匹配" }
        }
      }
    },
    "/api/create-dns": {
      "post": {
        "summary": "创建 DNS 记录",
        "description": "第三步：验证 JWT 签名 → 创建 Cloudflare CNAME 记录。",
        "operationId": "createDNS",
        "tags": ["dns"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["token"],
                "properties": {
                  "token": { "type": "string", "description": "注册 JWT" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "DNS 创建成功",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "success" },
                    "message": { "type": "string" },
                    "url": { "type": "string", "description": "新租户访问地址" }
                  }
                }
              }
            }
          },
          "401": { "description": "JWT 无效" },
          "500": { "description": "DNS 创建失败" }
        }
      }
    }
  },
  "servers": [
    { "url": "https://to.getastra.cn" }
  ]
}
